{% extends 'base.html.twig' %}

{% if etudiant == null %}

{% endif %}

{% block title %} {{ etudiant.prenom|capitalize }} {{ etudiant.nom|capitalize}} {% endblock %}

{% block body %}
    <h1>Information d'étudiant</h1>
<ul>
    <li>Prénom : {{ etudiant.prenom }}</li>
    <li>Nom : {{ etudiant.nom }}</li>
    <li>Mail : {{ etudiant.email }}</li>
    <li>Né le : {{ etudiant.dateNaissance|date('d/m/Y') }}</li>
    <li>Cet étudiant a {{ etudiant.age }} ans</li>
    <li>Promotion : {{ etudiant.promotion.nom }}</li>
    <li>Année : {{ etudiant.promotion.annee }}</li>
</ul>
{% endblock %}

